* {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 578px;
  background: linear-gradient(110deg, #2c48e7 60%, #4d60ce 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  width: 60%;
  height: 500px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 60px;
  box-shadow: 0 16px 80px rgba(0, 0, 0, 0.7);
}

.header,
.balance {
  grid-column: 1/3;
}

.header {
  width: 100%;
  background: rgb(23, 3, 61);
}

.header h1 {
  color: white;
  font-size: 35px;
  padding: 10px;
  text-transform: uppercase;
}

.balance {
  font-size: 10px;
}

.balance p {
  font-size: 40px;
  margin: 5px;
}

.input-actions {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  justify-items: center;
}

.input-actions input:not([type="submit"]) {
  width: 250px;
  margin-bottom: 10px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #777;
  font-size: 15px;
  outline: none;
  transition: border-bottom 0.4s;
}

/* .submit-btn {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
} */

.submit-btn,
.submit-btn.disabled:hover {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  border: 1px solid #25729a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #ffffff;
  background-color: #3093c7;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #3093c7),
    color-stop(100%, #1c5a85)
  );
  background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
  background-image: linear-gradient(top, #3093c7, #1c5a85);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.submit-btn:hover {
  border: 1px solid #1c5675;
  background-color: #26759e;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #26759e),
    color-stop(100%, #133d5b)
  );
  background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
  background-image: -moz-linear-gradient(top, #26759e, #133d5b);
  background-image: -ms-linear-gradient(top, #26759e, #133d5b);
  background-image: -o-linear-gradient(top, #26759e, #133d5b);
  background-image: linear-gradient(top, #26759e, #133d5b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}
